---
import "../scss/app.scss";

import Loader from "../components/Loader.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body>
		<!-- Loader -->
		<Loader />

		<!-- Header -->
		<Header />

		<!-- Scroll Smoother -->
		<div id="smooth-wrapper">
			<div id="smooth-content">
				<!-- App Content -->
				<main>
					<Hero />
					<Hero />
					<Hero />
					<Hero />
				</main>

				<!-- Footer -->
				<footer>footer</footer>
			</div>
		</div>

		<!-- App JavaScript -->
		<script src="../js/app.js"></script>
	</body>
</html>
