---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Test";
---

<BaseLayout pageTitle={pageTitle}>
	<section>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
	</section>
	<section>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
	</section>
</BaseLayout>
