---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Test";
const pageDescription =
	"Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi.";
---

<BaseLayout
	pageTitle={pageTitle}
	pageDescription={pageDescription}
>
	<section>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
	</section>
	<section>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
		<h1>TEST</h1>
	</section>
</BaseLayout>
