---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Test";
const pageDescription =
	"Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi.";
---

<BaseLayout
	pageTitle={pageTitle}
	pageDescription={pageDescription}
>
	<section>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-auto"><h1>Wasd</h1></div>
				<div class="col-auto"><h1>Wasd</h1></div>
				<div class="col-auto"><h1>Wasd</h1></div>
			</div>
		</div>
	</section>
</BaseLayout>
