<section>
	<h1
		class="hero__title hero__title--bg"
		data-speed="1.1"
	>
		Black<br />Phantom
	</h1>
	<img
		class="hero__image"
		src="https://www.designerdrip.shop/wp-content/uploads/2022/12/PhotoRoom_20221225_215520.png"
		height="500"
		data-speed="0.9"
	/>
	<h1
		class="hero__title hero__title--front"
		data-speed="1.1"
	>
		Black<br />Phantom
	</h1>
</section>

<style>
	.hero__title {
		margin: 0;
		font-size: 10rem;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		text-align: center;
	}

	.hero__title--front {
		color: transparent;
		-webkit-text-stroke: 1px #fff;
	}

	.hero__image,
	.hero__title--bg {
		position: absolute;
	}
</style>
