<div id="appLoader"></div>

<style is:global>
	#appLoader {
		position: fixed;
		z-index: var(--layer--above-all);
		height: 100%;
		width: 100%;
		background-color: #000;

		transition: opacity 900ms var(--easeOut);
	}

	.page--loaded #appLoader {
		opacity: 0;
		pointer-events: none;
	}
</style>

<script>
	function exitLoader() {
		const loaderElement = document.querySelector("#appLoader");

		if (loaderElement) {
			const bodyElement = document.querySelector(`body`);
			bodyElement.classList.add(`page--loaded`);

			if (window.DEBUG) console.log(`Loader has been dismissed.`);

			// Escape the Loader
			setTimeout(() => {
				loaderElement.remove();

				if (window.DEBUG) console.log(`Loader has been destroyed.`);
			}, 7000);
		}
	}
	window.addEventListener("load", exitLoader, false);
</script>
