body {
	margin: 0;
	background-color: #000;
	color: #fff;
}

section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero__title {
	margin: 0;
	font-size: 8rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}

/* .hero__title::after {
	content: attr(title);
	position: absolute;
	left: 0;
	top: 0;
  } */

.hero__title--front {
	z-index: 1;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
}

.hero__image,
.hero__title--bg {
	position: absolute;
}
